AS {{ bgp.as | trim }}
router-id {{ bgp.router_id | trim }}

log updates
fib-update yes
connect-retry 5
rde med compare always

{% for address in bgp.listen_addresses %}
listen on {{ address | trim }}
{% endfor %}

{% for set in bgp.prefix_sets %}
prefix-set {{ set.name | trim }} {
{% for prefix in set.prefixes %}
        {{ prefix }}
{% endfor %}
}
{% endfor %}

{% for group in bgp.groups %}
group {{ group.name | trim }} {
        remote-as {{ group.as | trim }}
        set nexthop self

{% for neighbor in group.neighbors %}
        neighbor {{ neighbor | trim }}
{% endfor %}
{% if group.prepend_self is defined %}
        set prepend-self {{ group.prepend_self | trim }}
{% endif %}
}

{% endfor %}
{% if "local" in bgp.prefix_sets|map(attribute="name")%}
network prefix-set local

deny quick from ebgp prefix-set local or-longer
{% endif %}

{% for group in bgp.groups -%}
{% for prefix in group.allowed_prefixes_from %}
allow from group {{ group.name | trim }} prefix-set {{ prefix | trim }}
{% endfor %}
{% for prefix in group.allowed_prefixes_to %}
allow to group {{ group.name | trim }} prefix-set {{ prefix | trim }}
{% endfor %}

{% endfor %}