AS {{ local_as }} 
router-id {{ local_ipv4_address }} 

log updates
fib-update yes
connect-retry 5
rde med compare always

listen on {{ local_ipv4_address }} 
listen on {{ local_ipv6_address }} 

prefix-set local {
{% for item in local_networks %}
	{{ item }}
{% endfor %}
}

prefix-set remote {
{% for item in peer_networks %}
	{{ item }}
{% endfor %}
}

group wg {
        remote-as {{ peer_as }} 
        set nexthop self

        neighbor {{ peer_ipv4_address }} 
        neighbor {{ peer_ipv6_address }} 
}

network prefix-set local

deny quick from ebgp prefix-set local or-longer

allow from group wg prefix-set remote
allow to group wg prefix-set local
