[Interface]
{% if wireguard.addresses|length  > 1 %}
Address = {{ wireguard.addresses | join(", ") | trim }}
{% else %}
Address = {{ wireguard.addresses | join("") | trim }}
{% endif %}
ListenPort = 51820
Table = off

# Enable forwarding
PreUp = sysctl -w net.ipv4.ip_forward=1
PreUp = sysctl -w net.ipv6.conf.all.forwarding=1

# Read the private key
PostUp = wg set %i private-key /etc/wireguard/%i.key

{% for peer in wireguard.peers %}
# Add routes for peer {{ peer.name | trim }}
{% for route in peer.routes %}
{% if "." in route %}
PostUp = ip route add {{ route | trim }} dev wg0
{% else %}
PostUp = ip -6 route add {{ route | trim }} dev wg0
{% endif %}
{% endfor %}

{% endfor %}
{% for peer in wireguard.peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.key | trim }}
Endpoint = {{ peer.endpoint | trim }}
{% if peer.allowed|length  > 1 %}
AllowedIPs = {{ peer.allowed | join(", ") | trim }}
{% else %}
AllowedIPs = {{ peer.allowed | join("") | trim }}
{% endif %}
PersistentKeepalive = 10

{% endfor %}

